
@model UnicaesGestion.Unidad


@{
    ViewBag.Title = "AddUnity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                 Nueva Unidad
            </header>        

            <div class="panel-body">
               @using (Html.BeginForm())
               {
                @Html.AntiForgeryToken()
                        <div class="form-group ">
                            @*<label for="unidad" class="control-label col-lg-2">Unidad</label>*@
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="objetivo" class="control-label col-lg-2">Objetivo</label>
                            <div class="col-lg-10">
                                @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                      

                        <div class="form-group last">
                            <label class="control-label col-md-3">Dependencias:</label>
                            @Html.LabelFor(model => model.depende, "depende", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                              @Html.ListBox("id", new MultiSelectList(ViewData["depende"] as System.Collections.IEnumerable, "Id", "nombre", Model.depende(x => x.id).AsEnumerable()))
                                @*@Html.Partial("_PartialListDependences", new ViewDataDictionary(@ViewBag.depende))*@
                            
                            </div>
                        </div>
               }

            </div>







            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                        <div class="btn-group">
                            <button id="edit-table-button" class="btn green btn-danger">
                                Nueva Función <i class="fa fa-plus"></i>
                            </button>
                        </div>

                        @*<div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Herramientas <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-striped table-hover table-bordered" id="edit-table">
                            <thead>
                                <tr>
                                    <th>Funciones</th>
                                    <th>Guardar</th>
                                    <th>Cancelar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Dulal</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Sumon</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>vectorlab</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Admin</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Rafiqul</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Jhon Doe</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Dulal</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Sumon</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>vectorlab</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                               
                            </tbody>
                        </table>



                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit">Guardar</button>
                                <button class="btn btn-default" type="button">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->


<!--Start JavaScript-->
@section JavaScript {
<script type="text/javascript" src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

   <script>
       jQuery(document).ready(function () {
           EditableColumn.init();
       });
</script>

}
<!--End JavaScript-->


