@model UnicaesGestion.Categoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Categoria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.categoria1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoria1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoria1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



<link href="~/Content/css/tasks.css" rel="stylesheet">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                   Categoria 
                </header>
                <div class="panel-body">

                    <div class="task-content">

                        <div class="panel-body">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success col-sm-3 col-lg-2" id="agregarCriterio"><i class="fa fa-plus"> Agregar</i></button>
                                    <div class="col-lg-9">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-btn">
                                                <button class="btn btn-white"><i class="fa  fa-file-o"></i></button>
                                            </span>
                                            @Html.EditorFor(model => model.categoria1, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                        @*@Html.Partial("_PartialList", new ViewDataDictionary(@ViewBag.lista))*@
                        @{ Html.RenderAction("Index");}

                    </div>
                </div>
            </section>
        </div>




    </section>
    <!-- page end-->
</section>

<!--main content end-->
<!--Start JavaScript-->
@section JavaScript {

}
<!--End JavaScript-->