@model IEnumerable<UnicaesGestion.TipoPaso>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<ul id="myUL" class="task-list">
    @foreach (var item in Model)
    {
        <li>

            <div class="task-title">
                <span class="task-title-sp"><a>@Html.DisplayFor(modelItem => item.tipoPaso1)</a></span>

                <div class="pull-right hidden-phone">
                    <button onclick="location.href='@Url.Action("Edit", "TipoPasoes", new { id=item.id })'" class="btn btn-success btn-xs"><i class=" fa fa-pencil"></i> </button>
                    <button onclick="location.href='@Url.Action("Delete", "TipoPasoes", new { id=item.id })'" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></button>
                    @*<button  onclick="location.href='#myModal'"   class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>*@
                    <button class="btn btn-danger btn-xs" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-trash-o "></i></button>
                </div>
            </div>
        </li>

    }
</ul>





@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoPaso1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoPaso1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@



