@model UnicaesGestion.FuncionPuestoTrabajo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FuncionPuestoTrabajo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.funcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.funcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.funcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPuestoTrabajo, "idPuestoTrabajo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPuestoTrabajo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPuestoTrabajo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Funcion del Puesto de Trabajo
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="Post" action="/FuncionPuestoTrabajo/Create">

                        <div class="form-group ">
                            <label for="objetivoF" class="control-label col-lg-2">Puesto de Trabajo</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idPuestoTrabajo", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="procedimiento" class="control-label col-lg-2">Funcion</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="funcion" name="funcion" rows="3"> </textarea>
                            </div>
                        </div>                       

                        <div class="modal-footer">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit" value="Create">Guardar</button>
                                <button class="btn btn-default" type="submit" value="Create">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>

                @{ Html.RenderAction("Index", "FuncionPuestoTrabajo");}
                <div class="modal-footer">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-danger" onclick="location.href='/Requisitos/Create'">Siguiente</button>
                        <button class="btn btn-default" type="submit" value="Create">Cancelar</button>
                    </div>
                </div>
            </div>


        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<!--Start JavaScript-->
@section JavaScript {
    <script src="~/Content/js/ModalFunction.js"></script>

    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}