@model UnicaesGestion.CatalogoCompetencia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CatalogoCompetencia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.competencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.competencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.competencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoPuesto, "idTipoPuesto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoPuesto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoPuesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCategoria, "idCategoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCategoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
               Competencias Cardinales y Especificas
            </header>



            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" method="post" action="/CatalogoCompetencias/Create">

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Competencia</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="competencia" name="competencia" type="text" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="control-label col-lg-2">Tipo de Puesto</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idTipoPuesto", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Categoria</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idCategoria", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit" value="Create">Agregar</button>
                                <button class="btn btn-default" type="submit" value="Create">Cancelar</button>
                            </div>
                        </div>

                    </form>

                    @{ Html.RenderAction("Index", "CatalogoCompetencias");}
                </div>
            </div>



        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->


@section JavaScript {
    <script src="~/Content/js/ModalFunction.js"></script>

    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}
<!--End JavaScript-->