@model IEnumerable<UnicaesGestion.CatalogoCompetencia>

@{
    ViewBag.Title = "Index";
    Layout = null;
    //"~/Views/Shared/_Layout.cshtml"
}



<div class="panel-body">
    <div class="adv-table editable-table ">    

        <div class="space15"></div>

        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Competencia</th>
                        <th>Categoria</th>
                        <th>Tipo Puesto</th>
                        <th>Controles      </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.competencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria.categoria1)
                            </td>
                            <td>
                              @Html.DisplayFor(modelItem => item.TipoPuesto.tipo)
                            </td>
                            
                            <td>
                                <div class="pull-right hidden-phone">
                                    <button type="submit" value="Delete" onclick="location.href='@Url.Action("Edit", "CatalogoCompetencias", new { id=item.Id })'" class="btn btn-primary btn-xs"><i class=" fa fa-pencil"></i> </button>
                                    <button type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "CatalogoCompetencias", new { id=item.Id })'" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                                    @*<button  onclick="location.href='#myModal'"   class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>*@
                                    @*<button class="btn btn-danger btn-xs" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-trash-o "></i></button>*@
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>
</div>




@*</section>*@
<!-- page end-->
@*</section>
    </section>*@
<!--main content end-->
<!--Start JavaScript-->
@section JavaScript {
    <script src="~/Content/js/ModalFunction.js"></script>

    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}
<!--End JavaScript-->