@using UnicaesGestion.Models;
@model UnicaesGestion.Models.PuestoTrabajoViewModel

@{
    ViewBag.Title = "GestionPuestoTrabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Form Wizard-->
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.steps.css" />

<link href="~/Content/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
<style>
    .oculta {
        display: none;
    }

    .form-control {
        border-color: #d5d4d4;
    }

    .error {
        color: red;
        font-weight: 300;
    }
</style>


<!--wizard start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Perfil de contratación
                    </header>
                    <input type="hidden" value="@Model.Id" name="puestoid" id="puestoid" />
                    <div class="panel-body">
                        <div class="stepy-tab">
                            <ul id="default-titles" class="stepy-titles clearfix">
                                <li id="default-title-0" class="current-step">
                                    <div>Paso 1</div>
                                </li>
                                <li id="default-title-1">
                                    <div>Paso 2</div>
                                </li>
                                <li id="default-title-2" class="">
                                    <div>Paso 3</div>
                                </li>
                                <li id="default-title-3" class="">
                                    <div>Paso 4</div>
                                </li>
                            </ul>
                        </div>
                        <div id="stepy-tab" style="display: none;"></div>


                        <form id="wfrmpuesto" method="post" class="form-horizontal">

                            <!--INICIA PASO 1-->
                            <fieldset title="" class="stepy-step" id="default-step-0">
                                <legend class="stepy-legend"></legend>

                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Titulo del Puesto:</label>
                                    <div class="col-md-8">
                                        <input class=" form-control" id="titulo" name="titulo" type="text" value="@Model.puesto.titulo" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Objetivo:</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="objetivo" name="objetivo" rows="3">@Model.puesto.objetivo</textarea>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-2">Jefe Inmediato:</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="cmbjefeinmediato" id="cmbjefeinmediato">
                                            <option value="0">Seleccione un Jefe Inmediato</option>
                                            @foreach (var jefe in Model.cmbJefeInmediato)
                                            {
                                                string selected = "";
                                                if (Model.puesto.jefeInmediato != null)
                                                {
                                                    selected = (Model.puesto.jefeInmediato.Value == jefe.id) ? "selected" : "";
                                                }

                                                <option @selected value="@jefe.id">@jefe.titulo</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="control-label col-lg-2">Unidad Organizativa:</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="cmbunidad" id="cmbunidad">
                                            <option value="0">Seleccione la unidad organizativa</option>
                                            @foreach (var unidad in Model.cmbUnidades)
                                            {
                                                string selected = "";
                                                if (Model.puesto.idUnidad != 0)
                                                {
                                                    selected = (Model.puesto.idUnidad == unidad.id) ? "selected" : "";
                                                }
                                                <option @selected value="@unidad.id">@unidad.nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-2">Tipo de Puesto:</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="cmbtipopuesto" id="cmbtipopuesto">
                                            <option value="0">Seleccione el tipo de puesto</option>
                                            @foreach (var tpuesto in Model.cmbTipoPuesto)
                                            {
                                                string selected = "";
                                                if (Model.puesto.idTipoPuesto != 0)
                                                {
                                                    selected = (Model.puesto.idTipoPuesto == tpuesto.Id) ? "selected" : "";
                                                }
                                                <option @selected value="@tpuesto.Id">@tpuesto.tipo</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Fecha de Creación:</label>
                                    <div class="col-md-4">
                                        <div id="fecha" data-date-viewmode="years" data-date-format="yyyy-mm-dd" data-provide="datepicker" class="input-append date dpYears">
                                            @{
                                                var fecha = (Model.Id!=0)? Model.puesto.fechaCreacion.ToString("yyyy-MM-dd") : "";
                                            }
                                            <input type="text" placeholder="Seleccione una fecha" readonly="" id="fechaaprobacion" name="fechaaprobacion" value="@fecha" size="16" class="form-control">
                                            <span class="input-group-btn add-on">
                                                <button class="btn btn-danger" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 control-label">Estado:</label>

                                    <div class="col-md-6 btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input name="estado" value="1" type="radio" checked="checked"> Activo
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="estado" value="0" type="radio"> Inactivo
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 control-label">Aprobación:</label>

                                    <div class="col-md-6 btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary ">
                                            <input name="aprobacion" value="1" type="radio"> Aprobado
                                        </label>
                                        <label class="btn btn-primary active">
                                            <input name="aprobacion" value="0" type="radio" checked="checked"> Pendiente
                                        </label>
                                    </div>
                                </div>
                                <div id="loading1"></div>
                                <a class="btn btn-danger button-next" id="btnsiguiente1" onclick="ProcesarPaso1()">Siguiente</a>

                            </fieldset>

                            <!-- FINALIZA PASO 1-->
                            <!--INICIA PASO 2-->
                            <fieldset title="" class="stepy-step" id="default-step-1">
                                <legend class="stepy-legend"></legend>
                                <h5>Funciones del Puesto de Trabajo</h5>
                                <a class="btn btn-success" data-toggle="modal" style="float: right;" onclick="dlgaddfuncion()" >Agregar función</a>
                                <div style="clear: both;"></div>
                                <br />
                                <!--Tabla de Funciones-->
                                <div id="funciones_puesto">

                                </div>
                                <!--fin tabla-->
                                <div id="loading2"></div>
                                <a class="btn btn-danger button-next" id="btnsiguiente2" onclick="Next2();">Siguiente</a>
                                <a class="btn btn-danger button-back" id="btnatras2" onclick="Back2();">Anterior</a>


                            </fieldset>

                        <!--FINALIZA PASO 2-->

                            <!-- INICIA PASO 3-->
                            <fieldset title="" class="stepy-step" id="default-step-2">
                                <legend class="stepy-legend"></legend>
                                <h4>Requisitos Puesto de Trabajo </h4>
                                <br/><br/>
                                
                                

                            </fieldset>
                            <!-- FINALIZA PASO 3-->
                        

                        <fieldset title="" class="stepy-step" id="default-step-3">
                                <legend class="stepy-legend"></legend>
                                <div class="form-group ">
                                    <label for="objetivoF" class="control-label col-lg-2">Puesto de Trabajo</label>
                                    <div class="col-lg-10">
                                        @*@Html.DropDownListFor(lst => lst.Id, (Model.cmbPuesto).Select(m => new SelectListItem { Text = m.titulo, Value = m.id.ToString() }), htmlAttributes: new { @class = "form-control" })*@
                                    </div>
                                </div>

                                <!--Tabla de Funciones-->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th><span>Competencia</span></th>
                                                <th><span>Esencial</span></th>
                                                <th><span>Controles</span></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @*@foreach (var item in Model.competencias)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-group row">
                                                                <div class="col-lg-10">

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>

                                                            <div class="form-group row">

                                                                <div class="radios col-lg-10">
                                                                    <label class="label_radio" for="radio-01">
                                                                        Esencial
                                                                        <input class=" form-control" name="competencias.esencial" id="Esencial" value="@item.escencial" type="radio" />
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="pull-right hidden-phone">
                                                                <button onclick="location.href='@Url.Action("Edit", "FuncionPuestoTrabajo",  new { id=item.Id })'" class="btn btn-success btn-xs"><i class=" fa fa-pencil"></i> </button>
                                                                <button class="btn btn-danger btn-xs eliminar" data-funcion-id="@Html.DisplayFor(modelItem=> item.Id)" type="button"><i class="fa fa-trash-o "></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }*@


                                        </tbody>
                                    </table>
                                </div>
                                <!--fin tabla-->

                            </fieldset>

                            <a id="btnback" class="stepy-back btn btn-danger button-back" style="display: none;">back</a>
                            <a class="stepy-next btn btn-danger button-next" style="display: none;">next</a>
                            <input type="submit" class="finish btn btn-danger stepy-finish" value="Finish" style="display: none;" />
                        </form>

                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--wizard end-->
<!-- MODALES -->
<div class="modal fade" id="mdaddfuncion" tabindex="-1" role="dialog" aria-labelledby="Agregar función" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Agregar función</h4>
            </div>
            <div class="modal-body">
                <form id="frmfunciones" name="frmfunciones" method="post">
                    <input type="hidden" name="idfuncion" id="idfuncion" value="0" />
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Función:</label>
                        <div class="col-md-10">
                            <input class=" form-control" id="txtfuncion" name="txtfuncion" type="text" />
                        </div>
                    </div>
                </form>
                <br /><br />
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" type="button" onclick="GuardarFuncion();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mddelfuncion" tabindex="-1" role="dialog" aria-labelledby="Agregar función" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Eliminar Función</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idfunciondel" id="idfunciondel" value="0"  />
                <label>Esta seguro que desea eliminar la función?</label>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" type="button" onclick="confirmarEliminar();">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!--Start JavaScript-->
@section JavaScript {
    @Scripts.Render("~/bundles/jqueryval")
    <!--this page plugins-->
    <script src="~/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!--this page  script only-->
    <script src="~/Content/js/form-component.js"></script>

    <!--Form Validation-->
    <script src="~/Content/js/bootstrap-validator.min.js" type="text/javascript"></script>

    <!--Form Wizard-->
    <script src="~/Content/js/jquery.steps.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>

    <!--script for this page-->
    <script src="~/Content/js/jquery.stepy.js"></script>


    <script src="~/Scripts/views/GestionPuestoTrabajo.js"></script>


}
<!--End JavaScript-->
