@model IEnumerable<UnicaesGestion.Models.RequisitosPuestoViewModel>
@{
    Layout = null;
}


<table class="table table-bordered table-striped table-advance table-hover">  
    @{ 
        int? catid = 0;
    }
    @foreach (var item in Model)
    {
        if (catid != item.IdCategoria)
        {
            catid = item.IdCategoria;           
             <tr style="background-color:#0988c8; color:#ffffff;"><td colspan="2">@item.Categoria</td></tr>
        }
        <tr>            
            <td >
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
