@using UnicaesGestion.Models;
@model UnicaesGestion.Models.ProcedimientoViewModel


@{
    ViewBag.Title = "GestionProcedimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/toastr-master/toastr.css" rel="stylesheet" />
<!--Form Wizard-->
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.steps.css" />

<!--toastr-->
<link href="~/Content/assets/toastr-master/toastr.css" rel="stylesheet" />

<style>
    .oculta {
        display: none;
    }

    .form-control {
        border-color: #d5d4d4;
    }

    .error {
        color: red;
        font-weight: 300;
    }
</style>


<!--wizard start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Procedimiento
                    </header>
                    <input type="hidden" value="@Model.id" name="procedimientoid" id="procedimientoid" />
                    <div class="panel-body">
                        <div class="stepy-tab">
                            <ul id="default-titles" class="stepy-titles clearfix">
                                <li id="default-title-0" class="current-step">
                                    <div>Paso 1</div>
                                </li>
                                <li id="default-title-1">
                                    <div>Paso 2</div>
                                </li>
                                @*<li id="default-title-2" class="">
                                        <div>Paso 3</div>
                                    </li>
                                    <li id="default-title-3" class="">
                                        <div>Paso 4</div>
                                    </li>*@
                            </ul>
                        </div>
                        <div id="stepy-tab" style="display: none;"></div>


                        <form id="wfrmpuesto" method="post" class="form-horizontal">

                            <!--INICIA PASO 1-->
                            <fieldset title="" class="stepy-step" id="default-step-0">
                                <legend class="stepy-legend"></legend>

                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Procedimiento</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="nombre" name="nombre" rows="3">@Model.procedimiento.nombre</textarea>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Objetivo Inicial</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="objetivoInicial" name="objetivoInicial" rows="3">@Model.procedimiento.objetivoInicial</textarea>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Objetivo Final</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="objetivoFinal" name="objetivoFinal" rows="3">@Model.procedimiento.objetvioFinal</textarea>
                                    </div>
                                </div>


                                <div id="loading1"></div>
                                <a class="btn btn-danger button-next" id="btnsiguiente1" onclick="ProcesarPaso1()">Siguiente</a>

                            </fieldset>
                            <!-- FINALIZA PASO 1-->
                            <!--INICIA PASO 2-->
                            <fieldset title="" class="stepy-step" id="default-step-1">
                                <legend class="stepy-legend"></legend>
                                <h5>Procesos</h5>
                                <a class="btn btn-success" data-toggle="modal" style="float: right;" onclick="dlgaddfuncion()">Agregar paso</a>
                                <div style="clear: both;"></div>
                                <br />
                                <!--Tabla de Funciones-->
                                <div id="pasos_procedimiento">

                                </div>
                                <!--fin tabla-->
                                <div id="loading2"></div>
                                <a class="btn btn-danger button-next" id="btnsiguiente2" onclick="Next2();">Siguiente</a>
                                <a class="btn btn-danger button-back" id="btnatras2" onclick="Back2();">Anterior</a>
                            </fieldset>
                            <!--FINALIZA PASO 2-->

                            <a id="btnback" class="stepy-back btn btn-danger button-back" style="display: none;">back</a>
                            <a class="stepy-next btn btn-danger button-next" style="display: none;">next</a>
                            <input type="submit" class="finish btn btn-danger stepy-finish" value="Finish" style="display: none;" />
                        </form>

                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--wizard end-->
<!-- MODALES -->
<div class="modal fade" id="mdaddfuncion" tabindex="-1" role="dialog" aria-labelledby="Agregar función" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Agregar Proceso</h4>
            </div>
            <div class="modal-body">
                <form id="frmpasos" name="frmpasos" method="post">
                    <input type="hidden" name="idpaso" id="idpaso" value="0" />
                    <div class="form-group clearfix ">
                        <label for="procedimiento" class="control-label col-lg-2">Numero</label>
                        <div class="col-lg-10">
                            <input type="text" name="numero" id="numero" value="" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="procedimiento" class="control-label col-lg-2">Descripcion</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" id="txtpaso" name="txtpaso" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label for="objetivoI" class="control-label col-lg-2">Predecesores</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" id="predecesores" name="predecesores" rows="3"> </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="control-label col-lg-2">Tipo paso</label>
                        <div class="col-md-6">
                            <select class="form-control" name="cmbtipoPasos" id="cmbtipoPasos">
                                <option value="0">Seleccione el Tipo de paso</option>
                                @foreach (var tipoPaso in Model.cmbtipoPasos)
                                {
                                    string selected = "";
                                    if (Model.paso.idTipoPaso != 0)
                                    {
                                        selected = (Model.paso.idTipoPaso == tipoPaso.id) ? "selected" : "";
                                    }
                                    <option @selected value="@tipoPaso.id">@tipoPaso.tipoPaso1</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="control-label col-lg-2">Responsable</label>
                        <div class="col-md-6">
                            <select class="form-control" name="cmbPuestos" id="cmbPuestos">
                                <option value="0">Seleccione un responsable</option>
                                @foreach (var responsable in Model.cmbPuestos)
                                {
                                    string selected = "";
                                    if (Model.paso.idPuestoTrabajo != 0)
                                    {
                                        selected = (Model.paso.idPuestoTrabajo == responsable.id) ? "selected" : "";
                                    }
                                    <option @selected value="@responsable.id">@responsable.titulo</option>
                                }
                            </select>
                        </div>
                    </div>

                </form>
                <br /><br />
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" type="button" onclick="GuardarFuncion();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mddelfuncion" tabindex="-1" role="dialog" aria-labelledby="Agregar función" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Eliminar Paso</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idfunciondel" id="idfunciondel" value="0" />
                <label>Esta seguro que desea eliminar este paso?</label>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" type="button" onclick="confirmarEliminar();">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!--Start JavaScript-->
@section JavaScript {
    @Scripts.Render("~/bundles/jqueryval")
    <!--toastr-->
    <script src="~/Content/assets/toastr-master/toastr.js"></script>
    <script src="~/Content/js/Toast.js"></script>

    <!--this page plugins-->
    <script src="~/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!--this page  script only-->
    <script src="~/Content/js/form-component.js"></script>

    <!--Form Validation-->
    <script src="~/Content/js/bootstrap-validator.min.js" type="text/javascript"></script>

    <!--Form Wizard-->
    <script src="~/Content/js/jquery.steps.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>

    <!--script for this page-->
    <script src="~/Content/js/jquery.stepy.js"></script>


    <script src="~/Scripts/views/GestionProcedimiento.js"></script>
    <script src="~/Content/assets/toastr-master/toastr.js"></script>


}
<!--End JavaScript-->
