
@model IEnumerable<UnicaesGestion.Paso>

@{
    Layout = null;
}

<style>
    .oculta {
        display: none;
    }
</style>


<div class="table-responsive">
    <table class="table table-bordered table-striped table-advance table-hover">
        <thead>
            <tr>
                <th class="oculta"><span>id</span></th>
                <th><span>Numero</span></th>
                <th><span>Descripción</span></th>
                <th><span>Responsable</span></th>
                <th><span>Predecesores</span></th>
                <th><span>Tipo de Paso</span></th>
                

            </tr>
        </thead>
        <tbody id="tbody">

            @foreach (var item in Model)
            {
                <tr>
                    <td class="oculta">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numero)
                    </td>
                    <td id="paso_@item.id">
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PuestoTrabajo.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.predecesores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPaso.tipoPaso1)
                    </td>                    
                </tr>
            }


        </tbody>
    </table>
</div>
