
@model UnicaesGestion.PuestoTrabajo

@{
    ViewBag.Title = "AddJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />


<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
               Nuevo Puesto de Trabajo
            </header>         

            <div class="panel-body">
               @using (Html.BeginForm())
               {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="unidad" class="control-label col-lg-4">Titulo del Puesto</label>
                    <div class="col-lg-10 ">
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                 </div>

                    <div class="form-group ">
                        <label for="password" class="control-label col-lg-4">Unidad Organizativa</label>                      
                        <div class="col-lg-10">
                            @Html.DropDownList("idUnidad", null, htmlAttributes: new { @class = "form-control" })                        
                        </div>
                    </div>

                    <div class="form-group ">
                            <label for="password" class="control-label col-lg-4">Jefe Inmediato</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("jefeInmediato", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                    <div class="form-group ">
                        <label for="objetivo" class="control-label col-lg-4">Objetivo</label>
                        <div class="col-lg-10 ">
                            @Html.TextAreaFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
               }
                </div>

             

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                        <div class="btn-group">
                            <button id="edit-table-button" class="btn green btn-danger">
                                Nueva Funcion <i class="fa fa-plus"></i>
                            </button>
                        </div>                      
                    </div>
                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-striped table-hover table-bordered" id="edit-table">
                            <thead>
                                <tr>                                    
                                    <th>Funciones</th>
                                    <th>Guardar </th>
                                    <th>Cancelar </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    
                                    <td>
                                        <a href="#">
                                            Elaborar o revisar los aspectos jurídicos de los convenios,
                                            actos y contratos que han de ser suscritos por la Universidad,
                                            a fin de proteger los intereses de la misma.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">                                   
                                    <td>
                                        <a href="#">
                                            Intervenir en los asuntos judiciales que atañen a la Universidad.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">                                    
                                    <td>
                                        <a href="#">
                                            Tramitar los asuntos jurídicos universitarios ante las autoridades competentes.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">                                    
                                    <td>
                                        <a href="#">
                                            Asesorar legalmente a los organismos y a las autoridades de la Universidad.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">                                    
                                    <td>
                                        <a href="#">
                                            Asesorar legalmente a las instancias de la Universidad que prestan servicios de docencia,
                                            investigación y proyección social que lo requieran.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">                                   
                                    <td>
                                        <a href="#">
                                            Supervisar la totalidad documental del inventario de los bienes inmuebles que integran el patrimonio universitario.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">
                                    <td>
                                        <a href="#">
                                            Ordenar jurídicamente, en coordinación con la Unidad de Contabilidad, los títulos de propiedad o utilización de los bienes
                                            muebles e inmuebles de la Universidad, que han sido adquiridos por la UNICAES a cualquier título.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">
                                    <td>
                                        <a href="#">
                                            Realizar trámites jurídicos en materia de propiedad intelectual e industrial de la Universidad.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>

                                <tr class="">
                                    <td>
                                        <a href="#">
                                            Revisar, con la periodicidad oportuna, la situación jurídica de cada uno de los bienes
                                            inmuebles que conforman el patrimonio universitario, y su inscripción en el Registro de la Propiedad.
                                        </a>
                                    </td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                                           
                            </tbody>
                        </table>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" onclick="location.href='/Admin/AddJobProfile'" type="submit">Guardar</button>
                                <button class="btn btn-default" type="button">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

<!--Start JavaScript-->
@section JavaScript {
    <script>
        $(document).ready(function () {
            EditableColumn.init();
        });
    </script>
}
<!--End JavaScript-->