@model IEnumerable<UnicaesGestion.PerfilContratacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Encabezado Perfil de Contratacion-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            @*<header class="panel-heading">
                Nuevo Perfil de Contratacion
            </header>*@

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" method="post" action="/PerfilContratacions/Create">

                       
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <header class="panel-heading">
                                    Perfil de Contratacion
                                </header>
                                <br />

                                <div class="space15"></div>

                                <div class="table-responsive">

                                    <table class="table table-bordered table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th><span>Fecha de Elaboracion</span></th>
                                                <th><span>Analista</span></th>
                                                <th><span>Aprobado Por</span></th>
                                                <th><span>fecha</span></th>                                                
                                                @*<th>
                                                    <button class="btn btn-danger btn-sm" data-toggle="modal" href="#myModal" type="button">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </th>*@

                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.fechaElaboracion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.analista)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.aprobadoPor)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.fecha)
                                                    </td>
                                                    <td>
                                                        @*<button type="submit" value="Edit" onclick="location.href='@Url.Action("Edit","PerfilContratacions", new { id=item.id })'" class="btn btn-success btn-xs"><i class=" fa fa-pencil"></i></button>
                                                        <button type="submit" value="Delete"onclick="location.href='@Url.Action("Delete", "PerfilContratacions", new { id=item.id })'" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></button>*@      
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                                    </td>
                                                    
                                                </tr>
                                            }                         
                          
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>                  

                    </form>
                </div>

            </div>

        </section>
        <!-- page end-->
    </section>
</section>
<!--Fin encabezado-->




@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaElaboracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.analista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aprobadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaElaboracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.analista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aprobadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@