@model UnicaesGestion.CompetenciaPuestoTrabajo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompetenciaPuestoTrabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.escencial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.escencial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogoCompetencia.competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogoCompetencia.competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuestoTrabajo.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuestoTrabajo.titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
